.check{
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    color: black;
    margin-left: 50px;
     list-style-type: none;
     padding-left: 10px;
     padding-top: 15px;
     align-items: center;
}

.h1 {
   font-size: 20px;
   align-items: center;
   color: rgb(117, 11, 11);
   font-style: italic;
   text-decoration: underline;
}


#button {
   background-color: aliceblue;
   color: black;
}

#but {
   cursor: pointer;
   color: antiquewhite;
}

#pane {
   background: #edf5e1;
   padding: 10px 20px 10px;
   border-top: solid 2px #c4df9b;
   color: black;
}

 #h3 {
   margin: 0;
   padding-bottom: .3em;
   font-size: 1.1em;
 }

 #div1 {
   margin: 10px auto;
   width: 470px;
 }

 #p {
   margin: 0;
   padding: 0 0 .5em;
 }

 .remove-button {
   color: darkred;
   border: #edf5e1;
   background: transparent;
   cursor: pointer;
   float: right;
 }


 .menu ul {
   margin: 0;
   list-style: none;
   padding-left: 20px;
   display: none;
 }
 
 .menu .title::before {
   content: '▶ ';
   font-size: 80%;
   color: rgb(0, 51, 128);
 }

 .menu.open .title::before {
   content: '▼ ';
 }
 
 .menu.open ul {
   display: block;
 }